<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#3b5998">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/SurveyPunchImages/sp_icon_032.png")">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required: false)
</head>
<body>



    <!-- SIDEBAR NAVIGATION -->
    <ul id="slide-out" class="side-nav admin-side-nav dark-side-nav">
        <!-- LOGO -->
        <li>
            <div class="sp-bg-fblue">
                <img src="@Url.Content("~/Content/SurveyPunchImages/sp_profile_074.png")" class="img-responsive img-circle">
                <div>
                    <p class="user white-text">
                        <a class="sp-logo-font sp-text-glow-white" href="@Url.Action("Index", "Home")">Survey Punch</a>
                    </p>
                </div>
            </div>
        </li>
        <!--/. LOGO -->
        <!-- SIDE NAVIGATION LINKS -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li class="sp-side-nav-login">
                    <button href="#" class="btn btn-flat sp-bg-fblue white-text waves-effect waves-light">
                        <i class="fa fa-sign-in"></i> Sign In
                    </button>
                </li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-search"></i> Search</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-fire"></i> Trending</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-plus-square"></i> New Survey</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-list"></i> My Surveys</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-code"></i> Feedback</a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-users"></i> About</a></li>
                <li><a href="@Url.Action("Terms", "Home")" class="waves-effect waves-light"><i class="fa fa-book"></i> Terms of Service</a></li>
                <li><a href="@Url.Action("Privacy", "Home")" class="waves-effect waves-light"><i class="fa fa-user-secret"></i> Privacy Policy</a></li>
            </ul>
        </li>
        <!--/. SIDE NAVIGATION LINKS -->
    </ul>
    <!--/. SIDEBAR NAVIGATION -->
    <!--NAVBAR-->
    <nav class="double-navbar navbar navbar-fixed-top sp-bg-fblue z-depth-1" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <!-- SIDENAV SLIDE-OUT BUTTON -->
                <ul class="list-inline pull-left text-center">
                    <li>
                        <a href="#" data-activates="slide-out" class="button-collapse sp-menubar"><i class="fa fa-bars"></i></a>
                    </li>
                </ul>
                <!--/. SIDENAV SLIDE-OUT BUTTON -->
            </div>
            <ul class="list-inline pull-left text-center">
                <li>
                    <a href="@Url.Action("Index", "Home")" class="waves-effect waves-light sp-logo sp-logo-font">Survey Punch</a>
                </li>
            </ul>
            <!-- NAVBAR ICONS -->
            <ul class="list-inline pull-right text-center sp-li-a-i-pulse-h">
                <li class="hidden-xs"><a href="#" class="waves-effect waves-light"><i class="fa fa-search"></i><br><span class="sp-font-weight-500">Search</span></a></li>
                <li class="hidden-xs"><a href="#" class="waves-effect waves-light"><i class="fa fa-fire"></i><br><span class="sp-font-weight-500">Trending</span></a></li>
                <li class="hidden-xs"><a href="#" class="waves-effect waves-light"><i class="fa fa-question"></i><br><span class="sp-font-weight-500">Help</span></a></li>
                <li><a href="#" class="waves-effect waves-light"><i class="fa fa-sign-in"></i><br><span class="sp-font-weight-500">Sign In</span></a></li>
            </ul>
            <!--/. NAVBAR ICONS -->
        </div>
    </nav>
    <!--/.NAVBAR-->
    <!-- MAIN CONTAINER-->
    <div class="container">
        @RenderBody()
    </div>
    <!--/.MAIN CONTAINER-->
    <!--FOOTER-->
    <footer class="page-footer sp-bg-fblue center-on-small-only">
        <!--FOOTER LINKS-->
        <div class="container-fluid">
            <div class="row">
                <!--FIRST COLUMN-->
                <div class="col-md-3 col-xs-offset-1">
                    <p class="column-title white-text">About Material Design</p>
                    <div class="column-content">
                        <p class="thin-100 white-text">
                            Material Design (codenamed Quantum Paper) is a design language developed by Google.
                            <br>
                            <br> Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.
                        </p>
                    </div>
                </div>
                <!--/.FIRST COLUMN-->
                <!--SECOND COLUMN-->
                <div class="col-md-2 col-md-offset-1">
                    <p class="column-title white-text">USEFUL LINKS</p>

                    <ul>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">About MDB</a></li>
                        <li><a href="#">Suport</a></li>
                        <li><a href="#">Bug Report</a></li>
                        <li><a href="#">License</a></li>
                    </ul>

                </div>
                <!--/.SECOND COLUMN-->
                <!--THIRD COLUMN-->
                <div class="col-md-2">
                    <p class="column-title white-text">MDB Free Popular</p>

                    <ul>
                        <li><a href="#">Animations</a></li>
                        <li><a href="#">Forms</a></li>
                        <li><a href="#">Carousel</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Parallax</a></li>
                    </ul>
                </div>
                <!--/.THIRD COLUMN-->
                <!--FOURTH COLUMN-->
                <div class="col-md-2">
                    <p class="column-title white-text">MDB Pro Popular</p>

                    <ul>
                        <li><a href="#">E-commerce</a></li>
                        <li><a href="#">Cards</a></li>
                        <li><a href="#">SideNav</a></li>
                        <li><a href="#">MaterialBox</a></li>
                        <li><a href="#">Social Buttons</a></li>
                    </ul>
                </div>
                <!--/.FOURTH COLUMN-->
            </div>
        </div>
        <!--/.FOOTER LINKS-->
        <hr>
        <!--CALL TO ACTION-->
        <div class="call-to-action inline-block">
            <ul class="list-inline">
                <li>
                    <h5 class="white-text">Register for free </h5>
                </li>
                <li> <a class="btn gplus-bg waves-effect waves-light">GET STARTED!</a></li>
            </ul>
        </div>
        <!--/.CALL TO ACTION-->
        <!--REGISTRATION APIS-->
        <div class="social-section text-center">
            <a class="btn-sm-full fb-bg rectangle waves-effect waves-light">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
            </a>
            <a class="btn-sm-full tw-bg rectangle waves-effect waves-light">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a>
            <a class="btn-sm-full gplus-bg rectangle waves-effect waves-light">
                <i class="fa fa-google-plus"></i>
                <span>Google +</span>
            </a>
            <a class="btn-sm-full comm-bg rectangle waves-effect waves-light">
                <i class="fa fa-comments"></i>
                <span>Forum</span>
            </a>
        </div>
        <!--/.REGISTRATION APIS-->
        <!--COPYRIGHT-->
        <div class="footer-copyright text-center sp-bg-fdarkblue">
            <div class="container-fluid">
                <span class="bold-700">&copy; @DateTime.Now.Year Copyright: </span><a class="sp-logo-font sp-text-glow-white" href="@Url.Action("Index", "Home")">Survey Punch</a>
            </div>
        </div>
        <!--/.COPYRIGHT-->
    </footer>
    <!--/.FOOTER-->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // Initialize collapsible
        $('.collapsible').collapsible();

    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
